<h1>Greetings!</h1>
<br />
<p>I will be disabling URhotURnot.org.</p>
<p>Glad most of you enjoyed it! Sorry to the others :(</p>
<p>If you want to contact me you can email me at urhoturnot@gmail.com</p>
<br />
<p>Have a good week everyone!</p>


<p>Fun fact: During the couple days the site was live on the weekend it received about <b>~90,000 page views</b> and almost <b>6,000 unique visitors</b>! Crazy stuff.</p>

