<div class='top'>
	<h1><%= link_to_unless_current 'URhotURnot', root_path %></h1>
	<h3>University of Regina Hot or Not: &nbsp <%= link_to_unless_current 'View Winners', winners_path %> &nbsp  | &nbsp  
		<%= link_to_unless_current "Check if UR a contestant (add/remove)", check_path %> </h3> 
	<div class="side">
		<%= link_to "Created by Jonovono", "http://www.twitter.com/Jonovono" %><br />
		Email: urhoturnot@gmail.com
	</div>
</div>