<div class='top'>
	<h1><%= link_to_unless_current 'URhotURnot', root_path %></h1>
	<h6><font color='red'>People will be added and removed shortly. Malfunctioning, sorry. PS, stats are showing ~23,000 page impressions last night.</font></h6>
	<h3>University of Regina Hot or Not: &nbsp <%= link_to_unless_current 'View Winners', winners_path %> &nbsp  | &nbsp  
		<%= link_to_unless_current "Check if UR a contestant (add/remove)", check_path %> </h3> 
	<div class="side">
		 Created by Jonovono <br />
		Email: urhoturnot@gmail.com
	</div>
</div>