<div class='top'>
	<h1><%= link_to_unless_current 'URhotURnot', root_path %></h1>
	<h8><font color='red'>Removed the people that requested. If you requested and are still on let me know. If you never requested and were removed, do the same  </font></h8>
	<h3>University of Regina Hot or Not: &nbsp <%= link_to_unless_current 'View Winners', winners_path %> &nbsp  | &nbsp  
		<%= link_to_unless_current "Check if UR a contestant (add/remove)", check_path %> </h3> 
	<div class="side">
		 Created by Jonovono <br />
		Email: urhoturnot@gmail.com
	</div>
</div>